.login{
    
    margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 300px;

  


}
.logind{
}

.fb{
    
}
.log_body{
   
    
    

}
@media only screen and (max-width: 600px) {
  
  .login{
width: 90%;
  }
}