

*{
  margin: 0;
  padding: 0;
}
.products{
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: -1;
  
}
.Navv{
  z-index: 10000;
}
.cd_body:hover{
  box-shadow: 5px 10px 20px 1px rgb(0,0,0,0.253);
}
.cd_image:hover{
  opacity: .9;
}