
.land_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5rem;
}
.right{
    max-width: 34rem;
}
.image{
    width: 100%;
height: auto;
}
.left{
    text-align: center;
    height: 50%;
    margin: auto;

}
.button{
 

}
.btton{
    border-radius: 20px;

}
.left_text{
    font-size: 26px;
}

@media screen and (max-width: 600px) {
    .left_text{
    font-size: 28px;
    }
    .land_body {
        margin: 4rem;
    }
    .left{
        margin-bottom: 1rem;
    }

}